@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif; ;
}

div {
    margin: 62px auto auto auto;
    width: 346px;
    height: 320px;
    border: 2px solid rgba(230, 212, 212, .3);
    border-radius: 6px;
}

.p-1 {
    padding-top: 45px;
    text-align: center;
    font-size: 20px;
}

fieldset {
    margin: auto;
    border: none;
}

label {
    margin-left: 22px;
    font-size: 11px;
}

.input {
    width: 246px;
    height: 37px;
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 5px;
    margin: 5px 20px auto 20px;
    background-color: #E9ECEF;
    padding-left: 20px;
    transition: 0.2s;
}

.input:hover {
    background-color: #DEE2E6;    
}

.input:focus{
    border-color: #000000;  
    background-color: #FFFFFF ;
    color: transparent;
    outline: #000000;
}

.botao {
    width: 272.5px;
    height: 42px;
    border: 2px solid #fff;
    border-radius: 5px;
    margin: 20px 20px auto 20px;
    color: #fff;
    background-color: #1971C2;
    transition: 0.2s;
}

.botao:hover {
    background-color: #1864AB;
}

.botao:focus {
    border-color: #000000;
    outline: #000000;

}

.criado-por {
    margin: -3px 0 auto 159px;
    color: rgba(0, 0, 0, 0.267);
}


